<div class="header">
    <div class="logo">
        <img src="assets/images/logo.jpg" alt="advotics" class="brand">
        <div class="poweredby">
            <span>powered by</span>
            <img src="assets/images/logo.jpg" alt="advotics">
        </div>
    </div>

    <div class="toolbar">
        <div class="userdata">
            <span class="username">Username</span>
            <span class="companyname">Company Name</span>
        </div>
        <div class="profile">
            <img src="assets/images/ic-profile.svg" alt="advotics">
        </div>
        <div class="logout">
            <img src="assets/images/logout.png" alt="advotics">
        </div>
    </div>
</div>