.app-layout {
    display: grid;
    grid-template-rows: 64px 1fr;

    .app-header {
        background: #FFFFFF;
        box-shadow: 0px 3px 6px #00000029;
    }

    .app-wrapper {
        height: calc(100vh - 64px);
        display: grid;
        grid-template-columns: 72px 1fr;
        transition: all ease-in-out .3s;

        &.collapsed {
            grid-template-columns: 210px 1fr;
            transition: all ease-in-out .3s;
        }

        .app-sidebar {
            background: #FFFFFF;
            height: 100%;
        }

        .app-content {
            background: #f7f7f7;
            height: inherit;
            overflow: auto;
            padding: 14px;
        }
    }
}